header{
  position: fixed;
  z-index: 10;
  
}
img{
  object-fit: cover; 
}
div {
  color:black;
}
#text{
  font-family: 'Nanum Myeongjo', serif;
  text-align:left; 
  margin-left: 3%;
  margin-bottom: 3%; 
  font-size: 1.2vw;
  color:black;
  white-space : normal;
  z-index: 10;
}
#text_english{
  font-family: 'Playfair Display', serif;
  text-align:left; 
  margin-left: 3%;
  margin-bottom: 3%; 
  font-size: 2.2vw;;
  color:black;
  white-space : normal;
}
#cup{
  float: right;
  margin-bottom: 40vw;
  margin-left: 10vw;
  width: 80vw; 
  height: 170vh;
  object-fit: contain;
  position: absolute;
  left: -5vw;
  top: -7vh;
  z-index: 1;
}
#cupMotion{
  display: flex;
  position: relative;
  width: 20vw;
  height: auto;
  left: 20vw;
  flex-direction:column;
}
#water{
  width: 3vw; 
  margin-left: 10vw;
  height: 4.5vh;
  object-fit: contain;
  animation: waterAni 3s;
  margin-top : 50vh;
  margin-right : 20vw;
  position: absolute;
  top: -5vh;
  left: 77vw;
  z-index: 3;
  opacity: 0;
}
#smoke{
  position: absolute;
  width: 40vw;
  height: auto;
  left: 28vw;
  top: 24vh;
  z-index: 3;
}
#waterDrop{
  position: relative;
  display: flex;
  clear: both;
  flex-direction: column;
  
}
#poemTitle {
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  clear: right;
  margin-top: 6vh;
  font-size: 1.5vw;
  margin-left: 25vw;
  z-index: 1;
}

#writer {
  font-family: 'Nanum Myeongjo', serif;
  text-align: right;
  display: flex;
  font-size: 1vw;
  justify-content: right;
  margin-right: 25vw;
  z-index: 1;
} 
#pencil {
  position: absolute;
  right: 10vw;
  width: 52vw; 
  height: 70vh;
  top: 20vh;
  left: 60vw;
}
#teaBag {

  position: absolute;
  right: 30vw;
  width: 67vw; 
  height: 65vh;
  top: 15vh;
  left: 30vw;
  object-fit: contain;
}
#blurTop{
  display: flex;
  position: absolute;
  object-fit: contain; 

}
#blurUnder {
  display: flex;
  position: absolute;
  object-fit: contain; 
  z-index: 10;
}
.content{
  font-family: 'Nanum Myeongjo', serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  clear: right;
  width: 100%;
  z-index: 3;
}
#teaTitle {
  font-family: 'Nanum Myeongjo', serif;
  text-align: right;
  display: flex;
  clear: right;
  margin-top: 7%;
  font-size: 1.5vw;
  margin-left: 22vw; 

  z-index: 1;
}
.tea{
  font-family: 'Nanum Myeongjo', serif;
  display: flex;
  text-align: right;
  margin-left: 44vw; 
  clear: right;
  width: 100%
}
#poem{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 25vw;

}
#teaContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
hr{
  float: left;
  height:1200vh;
  width:.2vw;
  margin-left: .8vw;
  border-width:0;
  opacity: 0.3;
  color:#000;
  background-color:#000;
}
.content-section {
  --scroll-length: 3.5;
  height: calc( var(--scroll-length) * 100vh );

}
#home{
  display: flex;
  margin-left: 10vw;
  clear: both;
  position: relative;
  flex-direction: column;
}
.bubb{
  width: 20vw;
  height: auto;
  margin-left: 5vw;
  margin-bottom: 2vh;
  position:relative;
}

.bubb.show{
  opacity: 1;
}
.figure{
    --scale: calc(.8 + 
  (.2 * var(--scroll-length) * var(--visible-y))
  );
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  will-change: transform;
  transform: scale(var(--scale));
}
.figure:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(black, 1);
}
.figure > img {
  display: block;
  will-change: transform;
  transform: scale(calc(1 / var(--scale)));
}
@keyframes waterAni{
  0% {
    transform: translate(0, 0vh);
    width: 3vw; 
    height: 4.5vh;
    opacity: 1;

  }
  30% {
    width: 5vw; 
    height: 6.5vh;
  }
  80%{

    transform: translate(0vw, 30vh);
  }
  90%{
    opacity: 0;
  }
}
@keyframes blur{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}