html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
#Header { background: #01fa10; height: 100px; left: 0; position: fixed; top: 0; width: 100%; }
#Header table { height: 100%; width: 100%; }
#Body { background: #af10fa; height: 200%; margin-top: 100px; }