
.sa{
  color: white;
  opacity: 0;
  transition: all 1s ease; /*트렌지션이 나타나는 시간 조절 가능 */
  border: none; 
  background: transparent;
}

.sa.show {
  opacity: 1;
  transform: none;
}
.sa.hide {
  opacity: 0;
  transform: none;
}